div.container#colorBar
    li(style='background-color: #73C2FB')
    li(style='background-color: #1E90FF')
    li(style='background-color: #007FFF')
    li(style='background-color: #00BFFF')
    li(style='background-color: #0070FF')

