div#footer
    div.container
        ul.nav
            li(style='margin-top: 26px; margin-right: 200px').navbar-text This website was developed under copyright law
            li.navbar-text
                a(href='https://www.linkedin.com/in/anush96/') LinkedIn
            li.navbar-text
                a(href='https://github.com/Matanatr96') Github
            li.navbar-text
                a(href='mailto:matanatr96@gmail.com') Email
            li.navbar-text
                a(href='https://www.facebook.com/anush.mattapalli') Facebook