head
    title Anush Mattapalli | #{title}
    link(rel='stylesheet', href='/css/colors.css')
    link(rel='stylesheet', href='/css/all.css')
    link(rel='stylesheet', href='/css/matanatr.css')
    link(rel='stylesheet', href='/css/sizes.css')
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/bootstrap-grid.css')
    link(rel='stylesheet', href='/css/bootstrap-flex.css')
    link(rel='stylesheet', href='/css/bootstrap-reboot.css')
    script(src='/js/jquery.min.js')
    script(src='/js/matanatr.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

