div
    include ../includes/colorBar
    nav(role='navigation')
        div(style='width:100%').container-fluid
            div.collapse.navbar-collapse.left
                ul.nav.navbar-nav
                    li
                        a(href='/aboutMe') About Me
            div.disappear
                a(href='/intro' style='margin-left: 37%').float-lg-left #[img(width='45px' height='45px' src='/images/Logo.png')]
            div.collapse.navbar-collapse.right
                ul.nav.navbar-nav
                    li
                        a(href='/projects') Projects
