doctype html
html
    include ../includes/imports
    link(rel='stylesheet', href='/css/photos.css')
    body(style='padding-top:0px').jumbotron
        div.col-lg-10.col-lg-offset-1
            include ../includes/navbar
            div.container
                div.col-lg-12
                    div.top3.text-center
                        p.size1 Taken at various locations around (I wish I could say the world) the country, I try to capture
                            |  all sorts of scenes

            div.col-lg-12.top5#grid
                div.col-lg-4.col-xl-4.gridColumn
                    div(style='').gridItem
                        img(src='/images/photography/10th_street_bridge.jpg')
                div.col-lg-4.col-xl-4.gridColumn
                    div(style='').gridItem
                        img(src='/images/photography/10th_street_bridge.jpg')
                div.col-lg-4.col-xl-4.gridColumn
                    div(style='').gridItem
                        img(src='/images/photography/10th_street_bridge.jpg')
