doctype html
html
    include ../includes/imports
    link(rel='stylesheet', href='/css/photos.css')
    script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/material-photo-gallery.min.js")
    body(style='padding-top:0px').jumbotron
        div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
            include ../includes/navbar
            div.container
                div.col-lg-12
                    div.top3.text-center
                        p.size1 Taken at various locations around (I wish I could say the world) the country, I try to capture
                            |  all sorts of scenes

            div.m-p-g
                div(data-google-image-layout data-max-height="350").m-p-g__thumbs.col-md-12.col-lg-12.top5#grid
                    div.col-md-4.col-lg-4.col-xl-4.gridColumn
                        div
                            img(src='/images/photography/10th_street_bridge.jpg' data-full='/images/photography/10th_street_bridge.jpg').m-p-g__thumbs-img
                        div
                            img(src='/images/photography/red_car.jpg' data-full='/images/photography/red_car.jpg').m-p-g__thumbs-img
                    div.col-md-4.col-lg-4.col-xl-4.gridColumn
                        div
                            img(src='/images/photography/abandoned_train.jpg' data-full='/images/photography/abandoned_train.jpg').m-p-g__thumbs-img
                        div
                            img(src='/images/photography/north_ave.jpg' data-full='/images/photography/north_ave.jpg').m-p-g__thumbs-img
                    div.col-md-4.col-lg-4.col-xl-4.gridColumn
                        div
                            img(src='/images/photography/campus.jpg' data-full='/images/photography/campus.jpg').m-p-g__thumbs-img
                        div
                            img(src='/images/photography/signal_mountain_water.jpg' data-full='/images/photography/signal_mountain_water.jpg').m-p-g__thumbs-img

                div.m-p-g__fullscreen

    script.
        var elem = document.querySelector('.m-p-g');
        document.addEventListener('DOMContentLoaded', function () {
            var gallery = new MaterialPhotoGallery(elem);
        });
        //document.getElementsByClassName('m-p-g__controls-close').style.backgroundColor="transparent";
