doctype html
html
    include ../includes/imports
    body
        div.col-lg-offset-2.col-lg-8
            include ../includes/navbar
            div.container
                div.col-lg-10.col-lg-offset-1
                    div.top3.text-center
                        p.size1 Taken at various locations around (I wish I could say the world) the country, I try to capture
                            |  all sorts of scenes

                        //photo scroll goes here
                        //need to figure out a photo scroll
