doctype html
html
    include ../includes/imports
    link(rel='stylesheet', href='/css/photos.css')
    body(style='padding-top:0px').jumbotron
        div.col-lg-offset-2.col-lg-8
            include ../includes/navbar
            div.container
                div.col-lg-10.col-lg-offset-1
                    div.top3.text-center
                        p.size1 Taken at various locations around (I wish I could say the world) the country, I try to capture
                            |  all sorts of scenes

        div.col-lg-offset-2.col-lg-8.top5#grid
            div.col-lg-4.col-xl-4.gridColumn
                div(style='height: 400px; top: 0px; width: 98%; margin-left: 1%').gridItem.col-lg-12
                    img(src='/images/photography/10th_street_bridge.jpg')
                div(style='height: 200px; top: 410px; width: 98%; margin-left: 1%').gridItem.col-lg-12 boo
            div.col-lg-4.col-xl-4.gridColumn
                div(style='height: 300px; top: 0px; width: 98%; margin-left: 1%').gridItem.col-lg-12 boo
                div(style='height: 340px; top: 310px; width: 98%; margin-left: 1%').gridItem.col-lg-12 boo
                div(style='height: 120px; top: 660px; width: 98%; margin-left: 1%').gridItem.col-lg-12 boo
            div.col-lg-4.col-xl-4.gridColumn
                div(style='height: 100px; top: 0px; width: 98%; margin-left: 1%').gridItem.col-lg-12 boo
                div(style='height: 200px; top: 110px; width: 98%; margin-left: 1%').gridItem.col-lg-12 boo
                div(style='height: 300px; top: 320px; width: 98%; margin-left: 1%').gridItem.col-lg-12 boo
