extends navbar

block navbar
    div(align='center').top5.container#img
        img.img-circular
    div.container.top5
        p.text-center.size4 Keep dreaming, Never stop believeing, Live life, one solution at a time
        p(style='width: 86%; margin-left:7%').text-center
            | Someone I once knew told me to never stop doing what you do, and you know what, i
            | never have. I am hit with roadblocks on a daily basis, but that has not stopped me from
            | doing what i do best Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            | sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
            | voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            | no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            | sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            | gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.