extends navbar

block navbar
    div.container
        div(align='center')
            p.size4.lightGrey.top5 Georgia Institute of Technology #[span(style='color: #1E90FF') |] Class of 2018
        div(align='center')
            hr(noshade='true' color='#DDDDDD')#hr1


    div.container
        div(align='center' style='margin-top:-15px')
            p.size1.top4.bot0 Bachelor's Degree, Major: Computer Science, Minor: Applied Mathematics
            p.size1.top1.bot2.top0 #[b Core GPA:] 3.69 #[b Minor GPA:] 3.56

    div.container.top5.push-1
        p.size1.bot1 #[b CS 1332]
        p.size0 Intro to Data Structures
        p.size0.push-1 This course blah blah