extends layout

block content
    h1= title
    p Welcome to #{title}

    form(method='post', action='/test/submit')
        input(type="text", name='id')
        input(type="submit", value='Submit')