extends imports

block imports
    div.container.clearfix
        div.container#color
            li.blue1
            li.blue2
            li.blue3
            li.blue4
            li.blue5

        nav(role='navigation')
            div(style='width:100%').container-fluid
                div.collapse.navbar-collapse.left
                    ul.nav.navbar-nav
                        li
                            a(href='/gt') Georgia Tech
                        li
                            a(href='/projects') Projects
                        li
                            a(href='#') Link
                div.floated_div
                    a(href='/aboutMe' style='margin-left: 20%').float-lg-left #[img(width='45px' height='45px' src='/images/Logo.jpg')]
                div.collapse.navbar-collapse.right
                    ul.nav.navbar-nav
                        li
                            a(href='#') Link
                        li
                            a(href='#') Link
                        li
                            a(href='#') Link
    block navbar
