doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include
  body
    ul
      li My Text
      li My other text
    input(type = 'text')#anyId

    block content
