extends imports

block imports
    div.container.clearfix
        div.container#color
            li(style='background-color: #73C2FB;')
            li(style='background-color: #1E90FF')
            li(style='background-color: #007FFF')
            li(style='background-color: #00BFFF')
            li(style='background-color: #0070FF')

        nav(role='navigation')
            div.container-fluid
                div.collapse.navbar-collapse.left
                    ul.nav.navbar-nav
                        li
                            a(href='/gt') Georgia Tech
                        li
                            a(href='/projects') Projects
                        li
                            a(href='#') Link
                div
                    a(href='/aboutMe' style='margin-left: 220px').float-lg-left #[img(width='45px' height='45px' src='/images/Logo.jpg')]
                div.collapse.navbar-collapse.right
                    ul.nav.navbar-nav
                        li
                            a(href='#') Link
                        li
                            a(href='#') Link
                        li
                            a(href='#') Link
    block navbar
