extends navbar

block navbar
    div.top6
        div.container
            div(style='background-color: #666' title='1').col-lg-4.project-img.slip
                div
                    p while
            div(style='background-color: #777' title='3').col-lg-4.project-img.slip
                div
                    p while
            div(style='background-color: #888' title='6').col-lg-4.project-img.slip
                div
                    p while
        div.container
            div(style='background-color: #999' title='5').col-lg-4.project-img.slip
                div
                    p while
            div(style='background-color: #AAA' title='4').col-lg-4.project-img.slip
                div
                    p while
            div(style='background-color: #BBB' title='2').col-lg-4.project-img.slip
                div
                    p while