extends navbar

block navbar
    div(style='background-color: #000000').container
        div.row.row-centered
            div(style='background-color: #111111').col-xs-6.col-fixed.blue1.col-centered
                div
                    p while
            div(style='background-color: #333333').col-xs-6.col-fixed.blue2.col-centered
                div
                    p while
            div(style='background-color: #666666').col-xs-6.col-fixed.blue3.col-centered
                div
                    p while
            div(style='background-color: #999999').col-xs-6.col-fixed.blue4.col-centered
                div
                    p while