extends navbar

block navbar
    div.top6
        div.container
            div(style='background-color: #BBB' title='1' onclick="location.href='/aboutMe'").col-lg-4.img-div.slip
                div(style='background-color: #888' title='Project 1').inner
                    img(src='/images/project_1_image.png')
                p.projectText Project 1
            div(style='background-color: #AAA' title='2' onclick="location.href='/aboutMe'").col-lg-4.img-div.slip
                div(style='background-color: #666' title='Project 2').inner
                    img(src='/images/project_2_image.png')
                p.projectText Project 2
            div(style='background-color: #DADADA' title='3' onclick="location.href='/aboutMe'").col-lg-4.img-div.slip
                div(style='background-color: #BBB' title='Project 3').inner
                    img(src='/images/project_1_image.png')
                p.projectText Project 3
        div.container
            div(style='background-color: #999' title='4' onclick="location.href='/aboutMe'").col-lg-4.img-div.slip
                div(style='background-color: #AAA' title='Project 4').inner
                    img(src='/images/project_2_image.png')
                p.projectText Project 4
            div(style='background-color: #E0E0E0' title='5' onclick="location.href='/aboutMe'").col-lg-4.img-div.slip
                div(style='background-color: #999' title='Project 5').inner
                    img(src='/images/project_1_image.png')
                p.projectText Project 5
            div(style='background-color: #C0C0C0' title='6s' onclick="location.href='/aboutMe'").col-lg-4.img-div.slip
                div(style='background-color: #777' title='Project 6').inner
                    img(src='/images/project_2_image.png')
                p.projectText Project 6