
.col-centered {
    display:inline-block;
    float:none;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fullpage {
    height: 100%;
}

.navLink {
    width: 30%;
    margin:0;
}

.vertical-center {
    min-height: 100%;

    display: flex;
    align-items: center;
}

.left {
    left: 10%;
    width: 20%;
}

.right {
    width: 20%;
    right: 10%;
}

.link {
    text-decoration: none;
    text-align: center;
}

.link-hover {
    color: #000;
}


#color {
    width: 100%;
}

#color li {
    display: inline-block;
    width: 20%;
    height: 8px;
    margin:0;
    padding:0;
}

#hr1 {
    width: 80%;
}


.listStyle {
    list-style: none;
}

.other:hover {
    color: #0047ab;
    border-bottom-style: solid;
    border-color: #0047ab;
    border-bottom-width: 2px;
}

.cur {
    color: #0047ab;
}

.tab {
    margin-right: 15px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.img-circular{
    background-image: url('../images/ProfilePic.jpg');
    width: 400px;
    height: 400px;
    background-size: cover;
    display: block;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    margin-top: 14%;
}

.clean:hover {
    text-decoration: none;
    color: darkslategray;
}

.img-div {
    height: 200px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}


.projectText {
    display: none;
}

.androidProjectImage {
    width: 367px;
    height: 582px;
}

.projectImage {
    height: 170px;
    width: 340px;
    background-size: cover;
}

/* Anything with .disappear will disappear when width is smaller than 1200 pixels */
@media all and (max-width: 1400px) {
    .disappear { display: none; }
}

.inner {
    height: 170px;
    padding-top: 5px;
}

@media all and (max-width: 1200px) {
    .inner {
        display: none;
    }

    .projectText {
        display: inline;
        text-align: center;
        font-size: 20px;

        font-weight: bold;
    }
}

.optimized {
    display: none;
}

@media all and (max-width: 500px) {
    .optimized {
        display: inline;
        margin-top: 40px;
    }
}

#scrollingDiv li{
    margin-bottom: 5px;
}

#footer {
    position: absolute;
    bottom:30px;
    width:100%;
    height:60px;   /* Height of the footer */
}

.timelinePic {
    width: 500px;
    display: block;
}

.auto {
    margin: auto;
}

.projectLink {
    height: 40px;
    line-height: 40px;
}