.schoolProject {
    background-color: #1cc7ff;
}

.floater {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    float: left;
}

.projectLink {
    height: 40px;
    line-height: 40px;
    color: #333333;
    overflow: hidden;
    text-align: center;
}

.projectLink:hover {
    color: #666666;
}
