doctype html
html
    include ../includes/imports
    body
        div.col-lg-offset-2.col-lg-8
            include ../includes/navbar
            div
                div(align='center')
                    p.size5.top5.bot0.black Anush Mattapalli
                    p.size3.top1.black Computer Science #[span(style='color: #1E90FF') |] Georgia Institute of Technology 2018
                div(align='center')
                    hr(noshade='true' color='#DDDDDD')#hr1
            div.container
                div.col-lg-10.col-lg-offset-1
                    div.top1
                        p Hello, My name is Anush Mattapalli. I'm a junior at Georgia Tech pursuing a bachelors degree in Computer Science.
                            |  If you want a concise/TL;DR for this about me, check out my #[a(href='/files/resume_4_14_17.pdf' download="Anush_Mattapalli_Resume.pdf").blue4 resume] ,
                            | if not, continue reading. Before beginning my life at
                    div
                        p.size3.top0.bot0 Education
                        div(align='center')
                            hr(noshade='true' color='#DDDDDD').top1.bot1
                        div.row
                            div.top1.col-lg-6
                                p.size1.bot0 #[b Georgia Institute of Technology]
                                p.size1.bot0 Major: Computer Science, Minor: Applied Math
                                p.size1.top1.bot0 Core GPA: 3.69 | Minor GPA: 4.00
                            div.top1.col-lg-6
                                p.size1.bot0 #[b Normal Community High School]
                                p.size1.top1.bot0 Unweighted GPA: 3.89
