doctype html
html
    include ../includes/imports
    body(style='padding-top:0px').jumbotron
        div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
            include ../includes/navbar
            div
                div(align='center')
                    p.size5.top5.bot0.black Anush Mattapalli
                    p.size3.top1.black Computer Science #[span(style='color: #1E90FF') |] Georgia Institute of Technology 2018
                div(align='center')
                    hr(noshade='true' color='#DDDDDD')#hr1
            div.container
                div.col-lg-10.col-lg-offset-1
                    div.top1
                        p Hello, My name is Anush Mattapalli. I'm a junior at Georgia Tech pursuing a bachelors degree in Computer Science.
                            |  If you want a concise/TL;DR for this about me, check out my #[a(href='/files/resume_1_29_18.pdf' download="Anush_Mattapalli_Resume.pdf").blue4 resume],
                            | if not, continue reading.
                        p Many people ask me how I came into GT so confidently knowing I'd want to do some sort of computer science
                            |  for the rest of my life. The truth is, I didn't. I took one computer science class in high school; I didn't learn much.
                            | I even considered accepting MatSe @ Uiuc before I even applied to GT. My confidence in comp sci was non existent.
                            | Choosing a major is hard, especially when you barely have any experience in the field. Now I'm certain I've made the right choice;
                        p As you can imagine, college has kept me entertained with a boatload of opportunistic events and clubs and courses.
                            |  These opportunities have kept me engaged and learning since my freshman year.
                            |  Some projects range from a pretty cool #[a(href='/projects/buzzMovieSelector') Movie Rating App].
                            |  I even lead a project in my coop. A project accurately dubbed #[a(href='/projects/rainmaker') Rainmaker].
                            |  It has been a good two years but the next two are going to be even better.
                        p When I'm not in class or working on classwork (I usually am), I play soccer, tennis and ping pong.
                            |  I play soccer and tennis on intramural teams, but play ping pong for the club team.
                        p And when the weather doesn't permit outdoor activity, I like to take to the streets with my trusty camera and shoot everything.
                    div
                        //p.size3.top0.bot0 Education
                        //div(align='center')
                        //    hr(noshade='true' color='#DDDDDD').top1.bot1
                        //div.row
                        //    div.top1.col-lg-6
                        //        p.size1.bot0 #[b Georgia Institute of Technology]
                        //        p.size1.bot0 Major: Computer Science, Minor: Applied Math
                        //        p.size1.top1.bot0 Core GPA: 3.69 | Minor GPA: 4.00
                        //    div.top1.col-lg-6
                        //        p.size1.bot0 #[b Normal Community High School]
                        //        p.size1.top1.bot0 Unweighted GPA: 3.89

                                // to a #[a(href='/projects/gameboy') Game Boy Game] written in C
