doctype html
html
    include ../includes/imports
    link(rel='stylesheet', href='/css/coolLinks.css')
    body(style='padding-top:0px').jumbotron.text-center.bot0
        div.col-lg-offset-2.col-lg-8
            include ../includes/navbar
            div(align='center').top5#img
                img.img-circular
            div(style='background-color: #eceeef;').fullpage.vertical-center
                div.container
                    div(style='padding-bottom: 0px').top4
                        p.size3 Hi! My name is #[span('style = color:#009000') Anush Mattapalli]
                        p.size2 I'm just a cs student trying to make a difference in the world through cs
                        br
                        p.size2 When I'm not #[span('style = color:#702963') c] #[span('style = color:#0047ab') o] #[span('style = color:#009000') d] #[span('style = color:#ffcc33') i] #[span('style = color:#ff8c00') n] #[span('style = color:#c80815') g]
                        p.size2 you can find me on the #[span.yellow tennis court] or #[span('style = color:#000000') soccer pitch]
                        br
                        p.size2 Want to get in touch with me? I'd love to hear from you
                        hr(style='color: #73C2FB')
                    div(style='height: 200px').container
                        div.linksContainer
                            ul.social
                                li.linkedIn #[a(href='https://www.linkedin.com/in/anush96/').entypo-linkedin]
                                li.github #[a(href='https://github.com/Matanatr96').entypo-github]
                                li.mail #[a(href='mailto:matanatr96@gmail.com').entypo-mail]
                                li.facebook #[a(href='https://www.facebook.com/anush.mattapalli').entypo-facebook]
                                li.instagram #[a(href='https://www.instagram.com/matanatr96/').entypo-instagrem]
                        div.optimized.col-sm-6.col-sm-offset-2
                            p.size2 Optimized for a browser
                        div(style='margin-left:5%; margin-top: -10%').row
                            div.col-lg-1
                                a(href='/files/resume_2_12_17.docx' download="Anush_Mattapalli_Resume.docx").tab.clean.blue4 Resume
                            div.col-lg-2.col-lg-offset-9
                                a(href='/files/cover_letter_2_12_17.docx' download="Anush_Mattapalli_CV.docx").tab.clean.blue4 Cover Letter