doctype html
html
    link(rel='stylesheet', href='/css/icosahedron.css')
    body
        script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.4.2/pixi.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='/js/icosahedron.js')
        div.titleWords
            h3 Georgia Tech - 2018
            h1 Anush Mattapalli
