doctype html
html
    script(src='/js/icosahedron.js')
    script(src='C:/Users/Anush/WebstormProjects/Website/node_modules/pixi.js/bin/pixi.js')

    link(rel='stylesheet', href='/css/icosahedron.css')
    body
        div.titleWords
            h3 Georgia Tech - 2018
            h1 Anush Mattapalli
