doctype html
html
    include ../../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        div.col-lg-8.col-lg-offset-2.bLighestGrey
            include ../../includes/colorBar
            div.col-lg-12.text-center
                div.col-lg-2
                    p #[a(href='https://github.gatech.edu/jboutsicaris3/CS2340') Github Link]
                div.col-lg-8
                    h2 Buzz Movie Selector
                div.col-lg-2
                    p Class: CS 2340
            div.col-lg-8.col-lg-offset-2.text-center
                p This is an android app that helps you decide what movie to watch by using student reviews
            div.col-lg-10.col-lg-offset-1
                p The purpose of this app was to provide a movie ratings app. We took title data from rotten tomatoes
                    | and user input (from our app) and created a functional movie rating app. It sorted your rating
                    | based on your major.
                    | A couple classmates and I created this app for the class 2340. An android design principles class.
                p Here are a couple screenshots from the app
                div.row
                    div.col-lg-6.text-center
                        img(src='/images/buzzMovieSelector/hompage.png').androidProjectImage
                        p.top2 #[b This] is the login screen. Contains the basic information, username and password; if the user
                            | doenst have a login, they can select create an account which will take them to create an
                            | account
                        p We stored the user data (including login) in a remote database which allowed the user to close the app
                            | , come back later and still open the app.
                    div.col-lg-6.text-center
                        img(src='/images/buzzMovieSelector/loggedIn.png').androidProjectImage
                        p.top2 #[b After] you create your account and login, you will be greeted with this page. This page allows
                            | you to logout, edit your account, search through the rotten tomatoes database or find some
                            | recommended movies
                        p Since we saved all the data remotely, we were able to save all the changes to each user profile
                            | and show these changes on every login
                div.row.top4
                    div.col-lg-6.text-center
                        img(src='/images/buzzMovieSelector/movieSearch.png').androidProjectImage
                        p.top2 #[b If] you clicked "Search Movie Title", you'd be routed here, to the movie search page.
                            | Here you would be able to search for a movie of your choice against the rotten tomatoes move
                            | catalog by year, name or even rating (our database of ratings).
                    div.col-lg-6.text-center
                        img(src='/images/buzzMovieSelector/rateMovier.png').androidProjectImage
                        p.top2 #[b After] selecting a movie, you are able to see the movie title, an intro to the movie
                            | and a simple description. Here is where you would be able to rate the movie and even comment
                            | your opinion.
                        p After choosing your rating for the movie, the overall rating would be updated to display the average
                            | of the rating from our fellow classmates.
                div.col-lg-8.col-lg-offset-2.text-center.top2.bLighestGrey
                    p #[b Although] our app didnt look the best. It worked wonderfully. Non user features: Persistence (login and movie ratings),
                        | MVC complient, low load on android system.
