doctype html
html
    include ../../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        div.col-lg-8.col-lg-offset-2
            include ../../includes/colorBar
            div.col-lg-12.text-center
                div.col-lg-2
                    p #[a(href='https://github.gatech.edu/jboutsicaris3/CS2340') Github Link]
                div.col-lg-8
                    h2 Buzz Movie Selector
                div.col-lg-2
                    p Class: CS 2340
            div.col-lg-8.col-lg-offset-2.text-center
                p This is an android app that helps you decide what movie to watch by using student reviews