doctype html
html
    include ../../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        div.col-lg-8.col-lg-offset-2
            include ../../includes/colorBar
            div.col-lg-12.text-center
                div.col-lg-2
                    p #[a(href='https://github.com/Matanatr96/flappyBird') Github Link]
                div.col-lg-8
                    h2 Flappy bird
                div.col-lg-2
                    p Class: CS 4641
            div.col-lg-8.col-lg-offset-2.text-center
                p Machine Learning project for CS 4641 to teach an Agent to consistently achieve high scores in Flappy Bird
            div.col-lg-10.col-lg-offset-1.col-md-12
                p First off i would like to thank sourabhv for his public python implementation of the game
                    |  without which my group would not have been able to begin this project. You can check out his
                    | implementation #[a(href='https://github.com/sourabhv/FlapPyBird') here].
                    |  Our agent's implementation uses Q-Learning as the learning algorithm. Basically,
                    |  the agent performs an action, gets the reward, analyzes the new state that it is in and
                    |  performs another action, based on all the previous information.
                p #[b Implementation]
                p The state space of our agent consisted of:
                div
                    ul(style='list-style-type: square')
                        li Horizontal distance from next pipe
                        li Vertical distance from top of pipe axis
                        li Downward velocity