doctype html
html
    include ../../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body(style='padding-top:0px').jumbotron
        div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
            include ../../includes/colorBar
            div.col-lg-12.text-center
                div.col-lg-2.col-md-2
                    p.size2 #[a(href='https://github.com/Matanatr96/scribbler2') Github Link]
                div.col-lg-8.col-md-8
                    h3 Scribbler2
                div.col-lg-2.col-md-2
                    p.size2 Class: CS 1301
            div.col-lg-8.col-lg-offset-2.text-center.top3
                p This is a bunch of programs centered around a fun little robot
            div.col-lg-10.col-lg-offset-1.col-md-12
                p This class basically taught me the basics of coding and what it could do. Before this, I had no formal
                    |  instruction; just some html I had learned over the summer. This class was basically 'look at all
                    | the cool things we can do!'
                p.text-center In this class, we had a robot. A little myro 2 robot, the scribbler.
                //img(src='/images/scribbler2/myro.png')
                p With this robot in hand, we had to complete a series of tasks over the course of the semester.
                | This included (in order):
                ul(style='list-style-type: square').push-1
                    li Move the robot
                    li Run the robot for 2 minutes in a maze, avoiding walls
                    li Detect what color the robot is seeing at the moment
                    li edit the picture taken by the robot
                    li create a movie, with 2 robots

                p You can check out all the files #[a(href='/files/scribbler2/cs1301Code.zip' download="anush_mattapalli_cs1301_code.zip").tab.clean.blue4 here]
                div.top4
                    p(style='font-size: 1.3em').bot0 Move the robot & Python introductions #[a(href='/files/scribbler2/HW1.py' download='anush_mattapalli_cs1301_hw1.zip' style='font-size: 1em; float:right') Homework 1]
                    p.bot0.offset-lg-1.offset-md-1 We started off simple: make the robot move forward, backward, left, right and at angles too.
                        | Then we got more complicated: make the robot break-dance. This included many instructions run synchronously. For the homework, though,
                        | We strayed from the movement of the robot and did some basic python calculations
                div.top3
                    p(style='font-size: 1.3em').bot0 Run the robot & avoid walls #[a(href='/files/scribbler2/AvoidWalls.py' download='anush_mattapalli_cs1301_hw1.zip' style='font-size: 1em; float:right') Homework 2]
                    p.bot0.offset-lg-1.offset-md-1 The task here was to set the robot in a box for 2 minutes and see if it would run into
                        | any walls. We, of course, developed the program to avoid any walls. Simple enough
                        | Then we got more complicated: make the robot breakdance. This included many instructions run synchronously.


