doctype html
html
    include ../../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        div.col-lg-8.col-lg-offset-2
            include ../../includes/colorBar
            div.col-lg-12.text-center
                div.col-lg-2
                    p #[a(href='https://github.com/Matanatr96/scribbler2') Github Link]
                div.col-lg-8
                    h2 Scribbler2
                div.col-lg-2
                    p Class: CS 1301
            div.col-lg-8.col-lg-offset-2.text-center
                p This is a bunch of programs centered around a fun little robot
            div.col-lg-10.col-lg-offset-1
                p This class basically taught me the basics of coding and what it could do. Before this, I had no formal
                    | instruction; just some html I had learned over the summer. This class was basically 'look at all
                    | the cool things we can do!'