extends ../navbar

block navbar
    div.top5.container
        div#intro
            p(style='padding: 5px 30px 10px 30px').size2.backBlue2 Instead of listing out the projects that I've done, I've decided to try out something different.
                |  This is a timeline of my more notable accomplishments throughout my life.
        div(style='position: fixed;').container.backBlue1.col-sm-3.disappear
            nav.nav.nav-pills.nav-stacked#scrollingDiv
                ul
                    li #[a(href='#intro') Intro]
                    li #[a(href='#freshman') Freshman Year]
                    li #[a(href='#summer1') Freshman Summer]
                    li #[a(href='#sophomore') Sophomore Year]
                    li #[a(href='#summer2') Sophomore Summer]
        div(style='margin-left: 200px').container.col-sm-9.backBlue2
            div#freshman
                p hello aee a eas dfgear gtergwer weqdqwdqwd qawrdqawfwetfawe rfgaergaergae rgtseargserg sergserg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergs
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
            div#summer1.backBlue1
                p hello aee a eas dfgear gtergwer weqdqwdqwd qawrdqawfwetfawe rfgaergaergae rgtseargserg sergserg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergs
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
            div#sophomore
                p hello aee a eas dfgear gtergwer weqdqwdqwd qawrdqawfwetfawe rfgaergaergae rgtseargserg sergserg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergs
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
            div#summer2.backBlue1
                p hello aee a eas dfgear gtergwer weqdqwdqwd qawrdqawfwetfawe rfgaergaergae rgtseargserg sergserg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergs
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                    | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg