doctype html
html
    include ../../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        div.col-lg-8.col-lg-offset-2
            include ../../includes/colorBar
            div.col-lg-12.text-center
                div.col-lg-2
                    p #[a(href='https://github.com/Matanatr96/TextClassification') Github Link]
                div.col-lg-8
                    h2 Text Classification using Sentiment Analysis
                div.col-lg-2
                    p Class: CS 2340
            div.col-lg-8.col-lg-offset-2.text-center
                p Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah