doctype html
html
    include ../includes/imports
    body
        include ../includes/navbar
        div.top6
            div.container.clearfix
                div(style='background-color: #BBB' title='1' onclick="location.href='/projects/school'").col-lg-3.img-div.slip
                    div(title='Project 1').inner
                        h5 School Projects
                    p.projectText Project 1

                div(style='background-color: #AAA; margin-left: 138px;' title='2' onclick="location.href='/aboutMe'").col-lg-3.img-div.slip
                    div(title='Project 2').inner
                        h5.top1 Personal Projects
                    p.projectText Project 2

                div(style='background-color: #DADADA; margin-left: 138px;' title='3' onclick="location.href='/aboutMe'").col-lg-3.img-div.slip.col-lg-offset-1
                    div(title='Project 3').inner
                        h5.top1 Hackathons
                    p.projectText Project 3

            div.container.top6
                div(style='background-color: #999' title='4' onclick="location.href='/aboutMe'").col-lg-3.img-div.slip
                    div(title='Project 4').inner
                        h5.top1
                    p.projectText Project 4
                div(style='background-color: #E0E0E0; margin-left: 138px;' title='5' onclick="location.href='/aboutMe'").col-lg-3.img-div.slip.col-lg-offset-1
                    div(title='Project 5').inner
                        h5.top1
                    p.projectText Project 5
                div(style='background-color: #C0C0C0; margin-left: 138px;' title='6' onclick="location.href='/aboutMe'").col-lg-3.img-div.slip.col-lg-offset-1
                    div(title='Project 6').inner
                        h5.top1
                    p.projectText Project 6
            div.container.top6
                div(style='background-color: #AAA;' title='Timeline' onclick="location.href='/projects/timeline'").col-lg-4.col-lg-offset-4.img-div
                    div(title='Project 2').inner
                        h4 Timeline