doctype html
html
    include ../includes/imports
    link(rel='stylesheet', href='/css/projects.css')
    body(style='padding-top:0px').jumbotron
        div.col-lg-offset-2.col-lg-8
            include ../includes/navbar
            div.top5.container
                div.row.mx-auto
                    div.col-lg-12
                        div(style='overflow: hidden; white-space: nowrap;')
                            h5.left3.bot0.floater Work Projects #[hr.projectHr(style='margin: .4% 0 1% 0')]
                div.row.mx-auto.top3
                    div.col-lg-11.col-lg-offset-1
                        a(href='/projects/rainmaker')
                            div.bBlue1.col-lg-3.projectLink Rainmaker
                        //a(href='/projects/project1')
                        //    div.col-lg-3.col-lg-offset-1.bBlue6.projectLink Project 11
                        //a(href='/projects/project1')
                        //    div.bBlue1.col-lg-3.col-lg-offset-1.projectLink Project 12
            div.container.top5
                div.row.mx-auto
                    div.col-lg-12
                        div(style='overflow: hidden; white-space: nowrap;')
                            h5.left3.bot0.floater School Projects #[hr.projectHr(style='margin: .4% 0 1% 0') ]
                div.row.mx-auto.top3
                    div.col-lg-11.col-lg-offset-1
                        a(href='/projects/flappyBird')
                            div.bBlue1.col-lg-3.projectLink Flappy Bird
                        a(href='/projects/scribbler2')
                            div.col-lg-3.col-lg-offset-1.bBlue6.projectLink Scribbler 2
                        a(href='/projects/buzzMovieSelector')
                            div.bBlue1.col-lg-3.col-lg-offset-1.projectLink Buzz Movie Selector
                //div.row.mx-auto.top3
                //    div.col-lg-11.col-lg-offset-1
                //        a(href='/projects/project1')
                //            div.bBlue1.col-lg-3.projectLink Project 4
                //        a(href='/projects/project1')
                //            div.col-lg-3.col-lg-offset-1.bBlue6.projectLink Project 5
                //        a(href='/projects/project1')
                //            div.bBlue1.col-lg-3.col-lg-offset-1.projectLink Project 6
            div.top5.container
                div.row.mx-auto
                    div.col-lg-12
                        div(style='overflow: hidden; white-space: nowrap;')
                            h5.left3.bot0.floater Personal Projects #[hr.projectHr(style='margin: .4% 0 1% 0')]
                div.row.mx-auto.top3
                    div.col-lg-11.col-lg-offset-1
                        a(href='/projects/sentimentAnalysis')
                            div.bBlue1.col-lg-3.projectLink NLP Sentiment Analysis
                        //a(href='/projects/project1')
                        //    div.col-lg-3.col-lg-offset-1.bBlue6.projectLink Project 8
                        //a(href='/projects/project1')
                        //    div.bBlue1.col-lg-3.col-lg-offset-1.projectLink Project 9
