doctype html
html
    include ../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        div
            div(style='height: 50px')
                div.col-lg-2.col-lg-offset-1.bBlue2 datalist
                div.col-lg-6.bBlue1 dae
                div.col-lg-2.bBlue3 aerfe