doctype html
html
    include ../includes/imports
    body
        include ../includes/navbar
        div.container.clearfix.top6
            div.col-lg-6
            div.col-lg-6
                a(href='/projects/timeline') Timeline

