doctype html
html
    include ../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        include ../includes/navbar
        div.top5.container
            div.row.mx-auto
                div.col-lg-12
                    div
                        p.left3.bot0 School Projects
                    div
                        hr.mar0.bot3
            div.row.mx-auto.top3
                div.col-lg-12
                    div.bBlue1.col-lg-3.schoolProject
                        p hi
                    div.col-lg-6.schoolProject
                        div.row
                            div.col-lg-6.bBlue2.col-lg-offset-3
                                p hi
                    div.bBlue1.col-lg-3.schoolProject
                        p hi3