doctype html
html
    include ../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        div.col-lg-offset-2.col-lg-8.bLighestGrey
            include ../includes/navbar
            div.container.top5
                div.row.mx-auto
                    div.col-lg-12
                        div(style='overflow: hidden; white-space: nowrap;')
                            h5.left3.bot0.floater School Projects #[hr.projectHr(style='margin: .4% 0 1% 0') ]
                div.row.mx-auto.top3
                    div.col-lg-11.col-lg-offset-1
                        a(href='/projects/buzzMovieSelector')
                            div.bBlue1.col-lg-3.projectLink Buzz Movie Selector
                        a(href='/projects/project1')
                            div.col-lg-3.col-lg-offset-1.bBlue2.projectLink Project 2
                        a(href='/projects/project1')
                            div.bBlue1.col-lg-3.col-lg-offset-1.projectLink Project 3
                div.row.mx-auto.top3
                    div.col-lg-11.col-lg-offset-1
                        a(href='/projects/project1')
                            div.bBlue5.col-lg-3.projectLink Project 4
                        a(href='/projects/project1')
                            div.col-lg-3.col-lg-offset-1.bBlue4.projectLink Project 5
                        a(href='/projects/project1')
                            div.bBlue2.col-lg-3.col-lg-offset-1.projectLink Project 6
            div.top5.container
                div.row.mx-auto
                    div.col-lg-12
                        div(style='overflow: hidden; white-space: nowrap;')
                            h5.left3.bot0.floater Personal Projects #[hr.projectHr(style='margin: .4% 0 1% 0')]
                div.row.mx-auto.top3
                    div.col-lg-11.col-lg-offset-1
                        a(href='/projects/project1')
                            div.bBlue4.col-lg-3.projectLink Project 7
                        a(href='/projects/project1')
                            div.col-lg-3.col-lg-offset-1.bBlue5.projectLink Project 8
                        a(href='/projects/project1')
                            div.bBlue1.col-lg-3.col-lg-offset-1.projectLink Project 9
            div.top5.container
                div.row.mx-auto
                    div.col-lg-12
                        div(style='overflow: hidden; white-space: nowrap;')
                            h5.left3.bot0.floater Work Projects #[hr.projectHr(style='margin: .4% 0 1% 0')]
                div.row.mx-auto.top3
                    div.col-lg-11.col-lg-offset-1
                        a(href='/projects/project1')
                            div.bBlue4.col-lg-3.projectLink Project 10
                        a(href='/projects/project1')
                            div.col-lg-3.col-lg-offset-1.bBlue5.projectLink Project 11
                        a(href='/projects/project1')
                            div.bBlue1.col-lg-3.col-lg-offset-1.projectLink Project 12