doctype html
html
    include ../includes/imports
    body
        include ../includes/navbar
        div.top5.container
            div#intro
                p(style='padding: 5px 30px 10px 30px').size2.bBlue2 Instead of listing out the projects that I've done, I've decided to try out something different.
                    |  This is a timeline of my more notable accomplishments throughout my life.
            div(style='position: fixed;').container.col-sm-3.disappear.bBlue1
                nav.nav.nav-pills.nav-stacked#scrollingDiv
                    ul
                        li #[a(href='#intro') Intro]
                        li #[a(href='#preFresh') Senior Summer]
                        li #[a(href='#freshman') Freshman Year]
                        li #[a(href='#summer1') Freshman Summer]
                        li #[a(href='#sophomore') Sophomore Year]
                        li #[a(href='#summer2') Sophomore Summer]
            div(style='margin-left: 200px').container.col-sm-9.bLighterGrey
                div#preFresh
                    h2.top2 Senior Summer
                    p This was the summer right after senior year. The perfect time to relax after a whole year of.... relaxing.
                        | I decided to relax by spending the money i made at a state farm internship. It was a typical 9 - 5
                        | and i was making a measly $10 an hour. The sorrows stop there though. While i was there, i learned
                        | a lot and meddled with some very interesting projects
                    p I was assigned to a team in d2 (restoration). They worked file loss tickets all day..... and so would I. Although it
                        |  wasnt the most interesting job in state farm, it gave me lots of free time to explore other parts of
                        | the company. With around 4 free hours a day, i shadowed the R&D, Business, Development, and many
                        | other teams. My favorite team I shadowed, by far, was the data science team. Back then, it was a relatively new team
                        | and had only 5 guys planning out how to incorporate data science/big data analytics into the system.
                        | I spent a lot of the time with the team shadowing the hadoop expert. He spent a lot of time teaching
                        | me how everything worked from the backend map reduce to how the analysis could be displayed on the page.
                    p In addition to being involved with the big data team, the interns also had to
                        |  design, develop and implement a working website. This was created so that State Farm employees could
                        | request interns to their project. I decided to go to the design team since I had no knowledge of html
                        | or css at that point
                    p For design, i was tasked with creating the logo for the site. After many iterations, this is what I
                        |  was able to come up with.
                    div.container
                        img(src='/images/sf_sem_1_logo.png').timelinePic.col-centered
                    p To my surprise they actually used this logo for the site that year. One of my bigger accomplishments for the year.
                    p That summer was my first big exposure to the corporate world, and I must say, its not what i had expected.
                div.top5#freshman
                    h2 Freshman Year
                    p My Freshman year at tech was an interesting time. After blowing through high school, college was no joke.
                        | In high school, I was able to juggle, 3 sports, 3 clubs, all my classes, my friends, family and sleep
                        | along with some me time. In my first semester, I took 18 credit hours, 3 intermural sports and friends.
                        | That was all I could pull off without dipping into my sleep (I require 8 full hours of sleep or i cannot
                        | function.
                    p This lifestyle didn't give much room for fun side projects but I did what I could. I spent some time, emphasis
                        | on the some, on this google site. I wanted to have a site back then; just like this one.
                        | #[a(href='https://sites.google.com/site/matanatr96/') Google Site]
                    p 
                div#summer1.backBlue1
                    p hello aee a eas dfgear gtergwer weqdqwdqwd qawrdqawfwetfawe rfgaergaergae rgtseargserg sergserg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergs
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                div#sophomore
                    p hello aee a eas dfgear gtergwer weqdqwdqwd qawrdqawfwetfawe rfgaergaergae rgtseargserg sergserg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergs
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                div#summer2.backBlue1
                    p hello aee a eas dfgear gtergwer weqdqwdqwd qawrdqawfwetfawe rfgaergaergae rgtseargserg sergserg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergs
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
                        | werw  awerawer wefawe fawe faw efa wef ae feaeawefhe5rtgh serthertSED QAFEATHYER6YUUKR Twertergsg
        include ../includes/footer