doctype html
html
    include ../includes/imports
    body(style='padding-top:0px').jumbotron
        div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
            include ../includes/navbar
            div
                div(align='center')
                    p.size5.top5.bot0.black Anush Mattapalli
                form(method='POST' action='/data/timeData')
                    div.form-group
                        label(for='duration') Duration (Minutes):
                        input#duration.form-control(type='number', placeholder='50')
                    button.btn.btn-primary(type='submit') Send