doctype html
html
    include ../includes/imports
    body(style='padding-top:0px').jumbotron
        div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
            include ../includes/navbar
            div
                div(align='center')
                    p.size3.top5.bot0.black Collecting data for a project. Feel free to input and submit any quote
                div.top5
                    form(method='POST' action='/data/timeData' enctype="application/x-www-form-urlencoded")
                        label(for='name') Name:
                        input#name.form-control(type='text', name='name', placeholder='Filet Minyon')
                        label(for='quote') Your favorite quote:
                        input#quote.form-control(type='text', name='quote', placeholder='Doubts kills more dreams than failure ever will')
                        button.btn.btn-primary.float-lg-right.float-sm-right(type='submit') Send

                div