doctype html
html
    include ../../includes/imports
    link(rel='stylesheet', href='/css/Modals/imageModal.css')
    script(src='/js/workProjects/rainmaker.js')
    body(style='padding-top:0px').jumbotron
        div.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
            include ../../includes/colorBar
            div.col-lg-12.text-center
                div.col-lg-2
                    p.size2 #[a(href='https://www.pegasuscrm.net') Rainmaker/PegasusCRM]
                div.col-lg-8
                    h3 Rainmaker - Merchant Analysis Tool
                //div.col-lg-2
                //    p Work: PegasusCRM
            div.col-lg-8.col-lg-offset-2.text-center.top5
                p This tool was designed to help sales agents pitch their lower prices to potential merchants
            div.col-lg-10.col-lg-offset-1.col-md-12
                p With some mentoring with a full stack developer at the company, I lead a team of 3 co-ops to assist
                    | with the design, front end and back end development of the project. It all started in my first semester
                    | at the company. The project I was a part of, was coming to a close, so I was on the lookout for any project
                    | that i may be able to join or even shadow (if i didn't have enough experience for it).
                    | The ceo pitched his new idea for a tool that will get us a lot more customers. "A tool that will allow sales agents to
                    | spend only 5 minutes [vs the usual 8 hours] inputting numbers and receive a ballpark estimate of how much money
                    | they will save by switching to the new sales agent". I was instantly hooked. I wanted to know what kind of
                    | formula we could possible use that would shorten 8 hours of calculation into 5 minutes of setup.
                p The project started with a group meeting. We planned out the database structure, the SOW, the work partitions
                    | and even partial designs. After SOW approval, We began development: I asked the full stack to work on the
                    | permissions and structure of the project and how it will be accessed from the current system, asked the
                    | UI/UX to begin design on the use cases, asked the front end to sit with them all while I worked with
                    | our in house Interchange expert. Probably the most knowledgeable on the topic of interchange in the south.
                    | I sat with him and he showed me all that would be necessary to get the closest savings value without
                    | having the user spend too much time inputting more numbers
                p It took a lot of planning, good development, and a lot of stressful hours, but in the end we finished the project
                    | coming under-budget by quite a lot! Next came testing. Hours upon hours of testing. I really didnt do the
                    | testing. I was put on rainmaker bug duty since I knew the most about the project. Days upon days of unit tests
                    | and ironing out edge case bugs. Finally, we thought we had a project that was presentable. It was beautiful.
                    | I loved it like a baby of mine. I loved watching it grow from just ideas into a full blown project.
                p I was called in to watch the demo of the project at the SEAA conference. I was terrified the whole time just waiting
                    | for something to go wrong or the savings value to be astronomically impossible. To my surprise, nothing went
                    | wrong. Everyone loved it. Some people even called the project sexy :D. This whole project was a great experience
                    | and a great insight into the corporate world and how everything works.
                div
                    div.col-lg-8.text-center.col-lg-offset-2.bLighestGrey
                        div(caption='Rainmaker Input Form' image='/images/rainmaker/inputForm.png')#imageLink Rainmaker Input Form
                    div.modal#myModal
                        span.close &times
                        img#modalImage
                        div#caption

