doctype html
html
    include ../../includes/imports
        link(rel='stylesheet', href='/css/projects.css')
    body
        div.col-lg-8.col-lg-offset-2
            include ../../includes/colorBar
            div.col-lg-12.text-center
                div.col-lg-2
                    p #[a(href='https://www.pegasuscrm.net/') Company Site]
                div.col-lg-8
                    h2 Tsys Dictionary
                div.col-lg-2
                    p Work Project
            div.col-lg-8.col-lg-offset-2.text-center
                p Creating this would help merchants who used the tsys processor
                |  to add their onboarding documents with ease'
        div.col-lg-8.col-lg-offset-2.col-sm-8.col-sm-offset-2
            p Text